/* Reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: var(--weight-400);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Color */
:root {
  --color-bg-html: #ffffff;
  --color-border: #d3d3d3;
  --color-logo: #ff0000;
  --color-bg-button: #f8f8f8;
  --color-bg-button-hover: #d1d1d1;
  --color-icon: #302c2c;

  --color-text: #1d1b1b;
}

html.dark {
  --color-bg-html: #252525;
  --color-border: #444444;
  --color-icon: #ffffff;
  --color-bg-button: #c2c2c2;
  --color-bg-button-hover: #d1d1d1;
  --color-icon: #ffffff;

  --color-text: #ffffff;
}

/* Font Weight */
:root {
  --weight-300: 300;
  --weight-400: 400;
  --weight-700: 700;
  --weight-800: 800;
}
