@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

/* Reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: var(--weight-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* Color */
:root {
  --color-bg-html: #ffffff;

  --color-border: #d3d3d3;

  --color-logo: #ff0000;

  --color-bg-button: #f8f8f8;
  --color-bg-button-checked: #1d1b1b;
  --color-bg-button-hover: #e7e7e7;

  --color-icon: #302c2c;

  --color-text-main: #1d1b1b;
  --color-text-checked: #ffffff;
  --color-text-description: #575757;
}

html.dark {
  --color-bg-html: #252525;

  --color-border: #444444;

  --color-icon: #ffffff;

  --color-bg-button: #c2c2c2;
  --color-bg-button-checked: #ffffff;
  --color-bg-button-hover: #e2e2e2;

  --color-icon: #ffffff;

  --color-text-main: #ffffff;
  --color-text-checked: #1d1b1b;
  --color-text-description: #b4b4b4;
}

/* Font Weight, radius, transition */
:root {
  --weight-thin: 100; /* thin */
  --weight-light: 300; /* light */
  --weight-normal: 400; /* regular */
  --weight-medium: 500; /* medium */
  --weight-bold: 700; /* bold */

  --radius-sm: 2px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;

  --duration-300: 0.3s;
}
